.article {
  border: 5px solid rgb(0, 255, 115);
  border-radius: 15px;
  margin: 1rem;
}

.counter {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 15px;
  margin: 0.5rem;

  background-color: rgb(202, 251, 255);
}

.input,
.time-input {
  display: block;
  margin: 0.3rem auto;
  border-radius: 4px;

  font-size: 1rem;
}

.input {
  background-color: rgb(0, 166, 196);
}

.input:hover {
  background-color: rgb(0, 199, 235);
}

.input:active {
  background-color: rgb(130, 236, 255);
}